{%- set metaTitle -%}
    {%- if not title -%}{{ site.title }} - {{ site.description | safe }}
    {%- else -%}{{ title | safe }} | {{ site.title }}
    {%- endif -%}
{%- endset -%}
{%- set metaDesc -%}
    {%- if not description -%}{{ site.description | safe }}
    {%- else -%}{{ description | safe }}
    {%- endif -%}
{%- endset -%}
{%- set metaKeywords -%}
    {%- if tags -%}{%- for tag in tags -%}{{ tag }},{%- endfor -%}{%- endif -%}
    {%- if tagProjets -%}{%- for tagProjet in tagProjets -%}{{ tagProjet }},{%- endfor -%}{%- endif -%}
    {%- if site.keywords -%}
        {%- for keyword in site.keywords -%}
            {{ keyword }}{%- if not loop.last %},{% endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endset -%}
<!DOCTYPE html>
<html lang="fr">
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ metaTitle }}</title>
    <meta name="title" content="{{ metaTitle }}">
    <meta name="description" content="{{ metaDesc }}">
    <meta name="keywords" content="{{ metaKeywords }}">
    <meta name="author" content="{{ author.name }}">
    <meta name="robots" content="index, follow">

    <meta name="theme-color" content="##3b683e" />


    <link rel="canonical" href="{{ site.url | url }}{{ page.url }}">
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.png' | url }}">
    <link rel="apple-touch-icon" href="{{ '/assets/img/apple-touch-icon.png' | url }}">
    <link rel="stylesheet" href="https://use.typekit.net/ubf1dfo.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    
    
<!--    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"> !-->

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">

    <script type="text/javascript">
        window._mfq = window._mfq || [];
        (function() {
          var mf = document.createElement("script");
          mf.type = "text/javascript"; mf.defer = true;
          mf.src = "//cdn.mouseflow.com/projects/99cba88d-c078-4e8c-b8cc-69b09c678755.js";
          document.getElementsByTagName("head")[0].appendChild(mf);
        })();
      </script>
</head>	

<body class="flex flex-col h-screen text-gray-800 break-words">
    <div class="coverTransition"></div>
    <div class="coverTransition2"></div> 
    {% include "partials/header.njk" %}
    <main class="mt-2 flex-grow" >
        <div>
            {% if layout === "post" %}
            {{ content | safe }}
            {% else %}
            <div class="mx-auto">
                {{ content | safe }}
            </div>
            {% endif %}
        </div>
    </main>
    {% include "partials/footer.njk" %}
    <div id="cookieBar"></div>

    



    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>



    <script src="{{ '/assets/js/bundle.js' | url }}" type="module" class="main-script"></script>
    <script src="/assets/js/transition.js" type="module"></script>

    <script src="/assets/js/cookieBar.js"></script>
    <script>new cookieBar({
        selector: "#cookieBar",
        message: "En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies pour améliorer votre expérience utilisateur.",
        button: "D'accord",
        theme: '#e2eae1',
        expire: 24,
    });
    </script>
    

</body>

</html>