---
layout: default
---

<article class="w-11/12 sm:w-full max-w-5xl mx-auto">
    <header class="mb-14 mt-14">
        <h1 class="text-3xl text-center font-bold leading-normal text-gray-900 mt-0 max-w-2xl mx-auto sm:px-4 px-0">{{ title }}</h1>
        <!--<div class="text-center">Publiée on {{ page.date | readableDate }}</div>-->

         <p class="meta__stats text-center">Temps de lecture : {{ content | readingTime }} minutes</p>
         <p class="mx-auto italic text-center">Rédigé par Hillel K.</p>
        {% if tags %}
        <!--<div class="mt-3 text-center">
            {% for tag in tags %}
            <a href="{{ '/tags/' | url }}{{ tag }}" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-medium text-gray-700 m-0.5">#{{ tag }}</a>
            {% endfor %}
        </div>-->
        {% endif %}
        {% if thumb %}
        <div class="mt-10  md:mx-0">
            <img class="w-full max-w-3xl mx-auto overflow-hidden shadow-md rounded-lg" src="{{ thumb | url }}" width="960" height="500" alt="This post thumbnail">
        </div>
        {% endif %}
    </header>
    <div id="content" class="prose text-gray-800 max-w-5xl w-11/12 sm:w-full sm:px-4 px-0 flex flex-row gap-4 texteBlog">
        <div>
            {{ content | safe }}
        </div>


        <aside class="w w-1/5 hidden md:block">
            <p class="text-portfolio-vert font-bold">Sommaire de l'article</p>
            {{ content | toc | safe }}
        </aside>
    </div>

    {% if site.disqusShortname %}
    <div class="mt-10">
        {% if process.environment === "production" %}
        {% include "partials/disqus.njk" %}
        {% else %}
        <div class="italic text-gray-700">Disqus comments only available for production</div>
        {% endif %}
    </div>
    {% endif %}


</article>

<div class="flex flex-wrap mx-auto">
    {% include "partials/cta.njk" %}
</div>