---
layout: default
---

<article class="max-w-5xl mx-auto">
    <header class="mb-14">

        <h1 class="text-4xl text-center font-bold text-gray-900 mt-0">{{ title }}</h1>
        <div class="text-center">Réalisé en {{ page.date | readableDate }}</div>
        {% if tagProjet %}
        <div class="mt-3 text-center">
            {% for tag in tagProjet %}
            <a href="{{ '/tagProjet/' | url }}{{ tag }}" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-medium text-gray-700 m-0.5">#{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
        {% if thumb %}
        <div class="mt-10 -mx-7 md:mx-0">
            <img class="w-full max-w-2xl mx-auto overflow-hidden" src="{{ thumb | url }}" alt="This project thumbnail">
        </div>
        {% endif %}
    </header>

    <section class="m-0-auto">
        <div id="content" class="prose m-4 sm:max-w-6xl sm:m-12 text-gray-800 ">
            {{ content | safe }}
        </div>
    </section>




    {% if site.disqusShortname %}

    <div class="mt-10">
        {% if process.environment === "production" %}
        {% include "partials/disqus.njk" %}
        {% else %}
        <div class="italic text-gray-700">Disqus comments only available for production</div>
        {% endif %}
    </div>
    {% endif %}
</article>