@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: neue-haas-unica, sans-serif;
    }
}

@layer utilities {


    .visually-hidden { 
        @apply block absolute h-px w-px overflow-hidden whitespace-nowrap;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(1px);
    }
}
body{
    overflow-x: hidden;
    background-color: #e2eae1;
    background-color: #f7f9f7;
    background-color: #fbfdfb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%234f6b49' fill-opacity='0.09'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    scroll-behavior: smooth;
}
    h1,h2,h3,h4{
    font-family: rufina-stencil, sans-serif;
    line-height: 100%;
}

header {
  background-color: transparent;
}


h1{
    font-size: 2.5rem;
    line-height: 2.7rem;
}
h2{
    font-size: 2rem;
    line-height: 2.2rem;
}
h3{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2rem;
}
h4{
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 1.4rem;
}
p{
    font-size: 1rem;
    line-height: 1.5rem;
}

.m-0-auto {
  margin: 0 auto 0 auto;
}

#preload, #preload2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #3B683E;
  z-index: 900;
}
#preload2 {
  background-color: #142315;
  z-index: 899;

}

.ninetyVh {
  height: 90vh;
}
.textIntro {
    font-size: 10rem;
    line-height: 100%;
}

#maskIntro {
    height: 100%;
    overflow:hidden;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.main-gallery{
    height: 80vh;
    width: 100%;
    max-width: 72rem;


}
.gallery-cell {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    counter-increment: gallery-cell;
    border-radius: 10px;
}

.gallery-cell img {
    min-height:100%; 
    min-width: 100%; 
    object-fit: cover;
    border-radius: 10px;
}

.gallery-cell.is-selected {
    
  }

.flickity-button:disabled {
  display: none;
}

.flickity-page-dots {
    bottom: -22px;
    display: none;
  }
  /* dots are lines */
  .flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
  }

.avisWrapper {
  background-color: #e2eae1 ;
  padding: 2rem;
  border-radius: 10px;
  border: #3B683E solid 1px;
  margin-top: 15rem;
  margin-bottom: 1rem;
}


.imgAvis {
  position: absolute;
  left: 50%;
  bottom: 195px;
  transform: translateX(-50%);
}

#selectionProjets {
  width: 100vw;
}

.split {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.prose img {
  width: 100%;
  margin: 1rem auto 1rem auto;
  border-radius: 10px;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.prose h2 {
  max-width: 700px;
  margin: 3rem auto 1.5rem auto ;
}

.prose p {
  max-width: 700px;
  margin: 1rem auto 1.5rem auto ;
  line-height: 1.7rem;
  font-size: 1.1rem;
}

.prose video {
  border-radius: 10px;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.prose figure figcaption {
  color: #515862;
  font-size: 1rem;
}

#hero {
  overflow: hidden;
}

#hero span {
  font-family: rufina-stencil, sans-serif;
}

#heroVideo {
    z-index: 5;
    position: absolute;
    overflow: hidden;
    bottom: 6rem;
    
}

#lottieHero {
    position: absolute;
}

#teteVideo {
    display: block;
    margin: 0 auto;
    height: 28rem;
}

.parent {
    display: grid;
    background-color: #f6f9f6;
    border-radius: 10px;
    border: #3B683E 3px solid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


.div1, .div2, .div3, .div4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2.3rem 1.5rem;
}
.div1, .div2 {
  border-bottom: #3B683E 1px solid;
}
.div1, .div3 {
  border-right: #3B683E 1px solid;
}

figcaption {
  text-align: center;
  font-weight: 200;
}

.max-w-90 {
  max-width: 90%;
}


#facts{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  max-width: 72rem;
  margin: 0 auto 4rem auto;

}

#videoAmpoule{
  display: inline-block;
  width: 100%;
}

.marquee {
    height: 65px;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background-color: #E2EAE1;  
    border-top: 1px solid #3B683E;
    border-bottom: 1px solid #3B683E;
    padding: 8px 0 8px 0;
    color: #3B683E;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    
  }
  
  
  /* would need to be adjusted depending on time */
  .marquee .marqueeone{
    animation: marquee 30s linear infinite
  }
  
  .marquee .marqueetwo{
    animation: marquee 30s linear 7.5s infinite 
  }
  
  .marquee .marqueethree{
    animation: marquee 30s linear 15s infinite
  }
  
  .marquee .marqueefour{
    animation: marquee 30s linear 22.5s infinite
  }
  
  /* even out the elements */
  .marquee div {
    position: absolute;
    width: 100%;
    left: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }
  
  .marquee:hover div {
    animation-play-state: paused;
  }
  
  /* add delay at the end of animation so you dont start while another div is going */
  @keyframes marquee {
    0% { left: 100%; }
    50% { left: -100%; }
    100% {left: -100%}
  }
  
  .grilleService {
    margin: 2rem auto 5rem auto;
    max-width: 72rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: masonry;
    grid-gap: 10px;
    }
    
    .serviceDiv1 { grid-area: 1 / 1 / 2 / 2; justify-content: center!important ;}
    .serviceDiv2 { grid-area: 1 / 2 / 2 / 3; }
    .serviceDiv3 { grid-area: 2 / 1 / 3 / 2; }
    .serviceDiv4 { grid-area: 3 / 1 / 4 / 2; }
    .serviceDiv5 { grid-area: 2 / 2 / 4 / 3; }
 
    .serviceDiv1, .serviceDiv2, .serviceDiv3, .serviceDiv4, .serviceDiv5 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
    }
    .grilleService img {
      width: 50%;
      margin: 1rem auto 0 auto;
    }
    

  
.servicePill {
  position: absolute;
  top: 0;
  background-color: #F7F8F7;
  border-radius: 10px;
  border: #3B683E 1px solid;
  padding: 0.4rem 0.8rem;
  color: #142315;
  font-weight: 400;
  font-size: 1rem;
  width: fit-content;
  margin: 10px;
  margin-top: 12px;
  margin-bottom: 0px;
}

.serviceCell {
  background-color: #f6f9f6;
  border: #3B683E 2px solid;
  border-radius: 10px;
  transition: cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.2s;
}

.serviceCell:hover {
  transition: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  background-color: #c1d1c1;
}

.accordion {
  background-color: #e7eee7;
  color: #3B683E;
  border-radius: 8px;
  border: 1px #3B683E solid;
  cursor: pointer;
  padding: 18px;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #3b683e;
  color: white;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.contactWrap {
  margin: 4rem auto ;
}

.contactWrap p {
  margin-bottom: 0;
}

#faq {
  max-width: 72rem;
}

@media (max-width: 768px) {
  .ninetyVh{
    height: 75vh;
  }

  .grilleService {
    max-width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    } 
    .serviceDiv1 { grid-area: 1 }
    .serviceDiv2 { grid-area: 2 }
    .serviceDiv3 { grid-area: 3 }
    .serviceDiv4 { grid-area: 4 }
    .serviceDiv5 { grid-area: 5 }

    .div1{
      border-bottom: #3b683e 1px solid;
      border-right: #3b683e 0px solid;
    }

    .div3{
      border-bottom: #3b683e 1px solid;
      border-right: #3b683e 0px solid;
    }


    #facts{
      flex-direction: column;
    } 
    .parent{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    } 

    #menu {
      background-color: #e2eae1;
      padding: 1.2rem;
      border-radius: 8px;
      margin-top: 2rem;
    }

    #menuLink {
      border-bottom: 1px solid #3b683e;
      padding: 0.5rem 0rem;
      margin: 0;
    }

    .split {
      flex-direction: column;
      width: 100%;
    }

    .imgAvis {
      bottom: 82%;
    }

    .textIntro {
      font-size: 6rem;
      line-height: 100%;
  }
  #cookieBar {
    width: 100%;
  }
 
}
.divider {
  width: 10%;
  height: 2px;
}

#CTAProjets {
  background:linear-gradient(0deg, rgba(38, 38, 38, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/img/presentationProjet.jpg");
  color: white;
  border-radius: 10px;
  max-width: 72rem;
  margin: 2rem auto;
  height: 20rem;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


form {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 0;
  max-width: 600px;
  overflow-y: auto;
}

input {
  background: #fff;
  border: 1px solid #9c9c9c;
  box-sizing: border-box;
  margin-bottom: .5rem;
  outline: 0;
  padding: .7em;
  transition: .1s cubic-bezier(.25,.46,.45,.94);
}

form button {
  background: #d3d3d3;
  border: 0;
  margin-top: 20px;
  padding: .7em;
  width: 100%;
}

textarea {
  background: #fff;
  border: 1px solid #9c9c9c;
  box-sizing: border-box;
  margin-bottom: .5rem;
  outline: 0;
  padding: .7em;
  transition: .1s cubic-bezier(.25,.46,.45,.94);
}


.coverTransition {
  background-color: rgba(39, 39, 39, 0.863);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.coverTransition2 {
  background-color: rgb(59, 104, 62);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}
#cookieBanner{
  position: fixed;
  bottom: 0;
  max-width: 300px;
  left: 0;
  background-color: #e2eae1;
  color: #3B683E;
  border: #3B683E solid 1px;
  padding: 1rem;
  margin: 0 0 1rem 1rem;
  border-radius: 10px;
  font-weight: 300;
}

#cookieBanner button {
  text-decoration: underline;
  padding-top: 0.5rem;
  margin-right: auto;
  cursor: pointer;
}

#cookieBar .cc-bar-col .cc-bar-btn {
  background-color: #3b683e!important;
}

#cookieBar {
  width: 20rem!important;
}

.gridMansory {

}

.grid-item {
vertical-align: top;
}

.grid-item video {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.grid-item video, .grid-item img {
  border-radius: 10px;
}