@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: neue-haas-unica, sans-serif;
    }
}

@layer utilities {


    .visually-hidden { 
        @apply block absolute h-px w-px overflow-hidden whitespace-nowrap;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(1px);
    }
}
body{
 
}
h1,h2,h3{
    font-family: rufina-stencil, sans-serif;
}

h1{
    font-size: 2.2rem;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.2rem;
}
p{
    font-size: 1rem;
    line-height: 1.2rem;
}

#maskIntro {
    height: 100%;
    overflow:hidden;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}