---
layout: default
title: À Propos
---
<section class="w-11/12 sm:max-w-6xl mx-auto my-20">
    <div class="flex flex-col sm:flex-row flex-wrap justify-around items-center">
        <img class="w-11/12 sm:w-2/5" src="/assets\img\portrait.png" width="35%" alt="">
    
        <div class="w-11/12 sm:w-3/6">
            <h2 class="mb-2">
                Bonjour,
            </h2>
            <h3 class="mb-9">
                Je m’appelle Hillel, passionné de graphisme et de créations 3D, à Marseille.
            </h3>

            <p class="mb-8">
                En tant que Designer Graphique diplômé, je suis spécialisé dans la création de sites internet et l'accompagnement des professionnels dans la conception de leur identité visuelle. Dans un monde où nous sommes constamment 
                bombardés d'informations, il est de plus en plus difficile de se démarquer. C'est pourquoi j'aime combiner des éléments simples pour créer des concepts percutants qui sont pertinents pour votre audience. 
                Grâce à mon expertise et à mon originalité, je vous aiderai à trouver votre place dans un marché bruyant et concurrentiel.</p>

            <p>
            Vous avez un projet en tête et des questions à poser ? N'hésitez pas à me contacter par mail à l'adresse suivante : <span><a class="underline font-bold" href="mailto:contact@hillel-khiat.com">contact@hillel-khiat.com</a> </span> <br>
            Je me ferai un plaisir de vous répondre et de vous aider à concrétiser votre projet  </p>

        </div>
    </div>
</section>

<section class="max-w-6xl m-0-auto">
    <div class="bg-white p-12 rounded border border-portfolio-vert shadow-md">
        <div class="text-center mb-5">
            <p>Pour votre projet</p>
            <h2 class="text-3xl">Je peux vous aider à..</h2>
        </div>
        <div class="flex flex-wrap justify-center flex-col text-center gap-4 sm:flex-row">
            <div class="p-4 py-6 my-4 bg-white rounded shadow flex-1 border border-portfolio-vert">
                <img src="/assets/img/iconSparkles.svg" class="w-20 pb-4 m-0-auto" alt="etoiles sticker">
                <p class="rufina text-xl font-bold mb-2">Créez votre logo</p>
                <p class="font-medium">Pour lancer votre nouveau projet, ou le demarrer avec une identité qui vous convient</p>
                <p>Un logo est essentiel pour une entreprise car il représente l'identité visuelle de celle-ci. 
                    Il permet de se démarquer de la concurrence et de faciliter la reconnaissance de la marque
                     par les clients. En résumé, la création d'un logo est une étape cruciale pour la réussite de toute entreprise</p>
            </div>
            <div class="p-4 py-6 my-4 bg-white rounded shadow flex-1 border border-portfolio-vert">
                <img src="/assets/img/iconWeb.svg" class="w-20 pb-4 m-0-auto" alt="site en sticker">
                <p class="rufina text-xl font-bold mb-2">Concevoir votre site</p>
                <p class="font-medium"> Votre commercial 24/7</p>
                <p>Un site internet est un outil de communication incontournable pour une entreprise. Il permet de présenter ses produits ou services,
                     d'échanger avec sa clientèle et de développer sa visibilité sur internet.
                     En bref, la création d'un site internet est un investissement essentiel pour toute entreprise souhaitant se développer et réussir sur le long terme.</p>
            </div>
            <div class="p-4 py-6 my-4 bg-white rounded shadow flex-1 border border-portfolio-vert hover:-translate-x-1">
                <img src="/assets/img/iconVoid.svg" class="w-20 pb-4 m-0-auto" alt="plume en sticker">
                <p class="rufina text-xl font-bold mb-2">Rafraîchir votre marque</p>
                <p class="font-medium">Besoin d'aligner votre communication avec de nouveaux objectifs ?</p>
                <p>Une refonte d'identité visuelle permet de moderniser l'image de l'entreprise et de se démarquer de la concurrence. Elle peut également être utilisée 
                    pour adapter l'identité de l'entreprise à de nouveaux objectifs ou cibles de marché.</p>
            </div>
        </div>
    </div>
</section>


<section class="container max-w-6xl m-0-auto">
    <div class="mt-14 bg-portfolio-vert p-12 sm:rounded text-white">
        <div>
            <p>La où la magie opère</p>
            <h2 class="text-3xl">Processus de création</h2>
        </div>

        <div class="flex">

            <div class="flex flex-wrap justify-between flex-col sm:flex-row w-full sm:w-3/5  ">

                <div class="p-4 py-6 my-4 w-auto rounded">

                    <div class="flex gap-4 items-end mb-7">
                        <div>
                            <p class="text-6xl font-bold mb-4" style="line-height: 3rem;">1</p>
                        </div>

                        <div>
                            <p class="rufina text-3xl font-bold">Échanges</p>
                            <p class="rufina text-lg font-bold">Definir une cible</p>
                        </div>
                        
                    </div>
                    
                    <p class="font-light">
                        En nous contactant, nous allons échanger sur votre projet pour établir clairement vos attentes et 
                        objectifs. Cette étape cruciale me permettra de m'assurer de respecter vos exigences pour une réalisation réussie.
                    </p>
                </div>

                <div class="p-4 py-6 my-4 rounded">

                    <div class="flex gap-4 items-end mb-7">
                        <div>
                            <p class="text-6xl font-bold" style="line-height: 5rem;">2</p>
                        </div>

                        <div>
                            <p class="rufina text-3xl font-bold">Création</p>
                            <p class="rufina text-lg font-bold">Recherches et conception</p>
                        </div>
                        
                    </div>
                    
                    <p class="font-light">
                        Je m'assure de bien comprendre votre projet en effectuant une recherche approfondie de projets similaires ou pertinents. 
                        En me basant sur ces éléments, je vous présenterai des esquisses d'idées innovantes qui nous aideront à valider la direction du projet avant de dévoiler le rendu final.
                    </p>
                </div>

                <div class="p-4 py-6 my-4 rounded" >

                    <div class="flex gap-4 items-end mb-7">
                        <div>
                            <p class="text-7xl font-bold" style="line-height: 5rem;">3</p>
                        </div>

                        <div>
                            <p class="rufina text-3xl font-bold">Présentation</p>
                            <p class="rufina text-lg font-bold">Retour et modification</p>
                        </div>
                        
                    </div>
                    
                    <p class="font-light">
                        Après avoir présenté les rendus finaux et pris en compte vos retours, nous nous engageons à vous délivrer la production finale
                         dans les formats prévus dans notre contrat. Vous pourrez ainsi utiliser notre travail de manière optimale.
                    </p>
                </div>

            </div>
            <div class=" hidden sm:block">
                <img src="/assets\img\processusIllustration.svg" class="w-9/12 ml-auto" alt="">
            </div>

        </div>
            
        
    </div>
</section>

<section id="CTAProjets">
    <a class="text-center " href="/projets">
        <p>Séléction de projet depuis 2019</p>
        <div class="divider bg-white mx-auto my-3"></div>
        <h2>Découvrir les projets</h2>
    </a>
</section>