---
layout: default
title: À Propos
metadata:
  title: À Propos
  desc: En tant que Designer Graphique diplômé, je suis spécialisé dans la création de sites internet et l'accompagnement des professionnels.
  
---
<section class="w-11/12 sm:max-w-6xl mx-auto mt-20 mb-16 triggerSection">
    <div class="flex flex-col sm:flex-row flex-wrap justify-around items-center">
        <img class="w-11/12 sm:w-2/5" src="/assets\img\portrait.png" width="35%" alt="">
    
        <div class="w-11/12 sm:w-3/6">

            <h2 class="mb-2">
                Bonjour,
            </h2>
            <h3 class="mb-9">
                Je m'appelle Hillel, passionné de graphisme et de créations 3D, à Marseille.
            </h3>

            <p class="mb-8">
                En tant que Designer Graphique diplômé, je suis spécialisé dans la création de sites internet et l'accompagnement des professionnels dans la conception de leur identité visuelle. Dans un monde où nous sommes constamment 
                bombardés d'informations, il est de plus en plus difficile de se démarquer. C'est pourquoi j'aime combiner des éléments simples pour créer des concepts percutants qui sont pertinents pour votre audience. 
                Grâce à mon expertise et à mon originalité, je vous aiderai à trouver votre place dans un marché bruyant et concurrentiel.</p>

            <p>
            Vous avez un projet en tête et des questions à poser ? N'hésitez pas à me contacter par mail à l'adresse suivante : <span><a class="underline font-bold" href="mailto:contact@hillel-khiat.com">contact@hillel-khiat.com</a> </span> <br>
            Je me ferai un plaisir de vous répondre et de vous aider à concrétiser votre projet  </p>

        </div>
    </div>
</section>



<section id="facts">
    <div class="inline-block md:w-3/4 w-full rounded-md drop-shadow-sm triggerSection">
      <div class="parent">
        <div class="div1">
          <img src="/assets/img/iconWeb.svg" class="w-14 mb-7" alt="" />
          <h2 class="text-2xl font-bold">
            Posséder une présence en ligne n'est plus une option
          </h2>
          <p>
            Vous ne pouvez pas vous permettre de manquer l'opportunité de vous
            faire connaître en ligne ! 78% des internautes font des recherches sur
            les lieux avant de s'y rendre, et 81% achètent en ligne. Si vous
            n'êtes pas en ligne, vous manquez une occasion en or de vous faire
            connaître auprès de potentiels clients.
          </p>
        </div>
        <div class="div2">
          <img src="/assets/img/iconVoid.svg" class="w-14 mb-7" alt="" />
          <h2 class="text-2xl font-bold">Faites évoluer votre image de marque</h2>
          <p>
            Donnez un coup de boost à votre notoriété en ligne en mettant en
            valeur votre marque avec des designs époustouflants. Faites le lien
            entre votre entreprise et vos clients en créant une connexion plus
            forte et durable.
          </p>
        </div>
        <div class="div3">
          <img src="/assets/img/iconSearch.svg" class="w-14 mb-7" alt="" />
          <h2 class="text-2xl font-bold">Un processus personnalisé pour répondre à vos besoins</h2>
          <p>
            Pour votre projet, nous allons d'abord définir des objectifs clairs.
            Ensuite, je vous proposerai des concepts originaux et percutants pour
            vous démarquer de manière créative de la concurrence. Nous
            travaillerons ensemble pour affiner votre projet et créer une solution
            sur mesure qui réponde parfaitement à vos besoins
          </p>
        </div>
        <div class="div4">
          <img src="/assets/img/iconSparkles.svg" class="w-14 mb-7" alt="" />
          <h2 class="text-2xl font-bold">Offrir un travail de qualité supérieure à nos clients</h2>
          <p>
            Je suis passionné par mon métier et je mets tout mon savoir-faire et
            ma créativité à votre disposition pour vous aider à atteindre vos
            objectifs. Je suis convaincu que la qualité et l'attention au détail
            sont des éléments clés pour vous offrir une satisfaction optimale et
            pour vous aider à réussir.
          </p>
        </div>
      </div>
    </div>

  </section>


<section class="container max-w-6xl m-0-auto triggerSection w-11/12">
    <div class="mt-24  sm:mt-14 bg-portfolio-vert p-12 rounded-lg text-white">
        <div class="mb-4">
            <p>Transforme votre vision en réalité</p>
            <h2>Processus de création</h2>
        </div>

        <div class="flex">

            <div class="flex flex-wrap justify-between flex-col sm:flex-row w-full sm:w-3/5  ">

                <div class="p-4 py-6 my-4 w-auto rounded">

                    <div class="flex gap-4 items-end mb-7">
                        <div>
                            <p class="text-6xl font-bold mb-4" style="line-height: 3rem;">1</p>
                        </div>

                        <div>
                            <p class="rufina text-3xl font-bold">Échanges</p>
                            <p class="rufina text-lg font-bold">Definir une cible</p>
                        </div>
                        
                    </div>
                    
                    <p class="font-light">
                        En nous contactant, nous allons échanger sur votre projet pour établir clairement vos attentes et 
                        objectifs. Cette étape cruciale me permettra de m'assurer de respecter vos exigences pour une réalisation réussie.
                    </p>
                </div>

                <div class="p-4 py-6 my-4 rounded">

                    <div class="flex gap-4 items-end mb-7">
                        <div>
                            <p class="text-6xl font-bold" style="line-height: 5rem;">2</p>
                        </div>

                        <div>
                            <p class="rufina text-3xl font-bold">Création</p>
                            <p class="rufina text-lg font-bold">Recherches et conception</p>
                        </div>
                        
                    </div>
                    
                    <p class="font-light">
                        Je m'assure de bien comprendre votre projet en effectuant une recherche approfondie de projets similaires ou pertinents. 
                        En me basant sur ces éléments, je vous présenterai des esquisses d'idées innovantes qui nous aideront à valider la direction du projet avant de dévoiler le rendu final.
                    </p>
                </div>

                <div class="p-4 py-6 my-4 rounded" >

                    <div class="flex gap-4 items-end mb-7">
                        <div>
                            <p class="text-7xl font-bold" style="line-height: 5rem;">3</p>
                        </div>

                        <div>
                            <p class="rufina text-3xl font-bold">Présentation</p>
                            <p class="rufina text-lg font-bold">Retour et modification</p>
                        </div>
                        
                    </div>
                    
                    <p class="font-light">
                        Après avoir présenté les rendus finaux et pris en compte vos retours, nous nous engageons à vous délivrer la production finale
                         dans les formats prévus dans notre contrat. Vous pourrez ainsi utiliser notre travail de manière optimale.
                    </p>
                </div>

            </div>
            <div class=" hidden sm:block">
                <img src="/assets\img\processusIllustration.svg" class="w-9/12 ml-auto" alt="">
            </div>

        </div>
            
        
    </div>
</section>




<section id="CTAProjets" class="triggerSection w-11/12 sm:max-w-6xl">
    <a class="text-center " href="/projets">
        <p>Séléction de projet depuis 2019</p>
        <div class="divider bg-white mx-auto my-3"></div>
        <h2>Découvrir les projets</h2>
    </a>
</section>




