---
layout: default
title: A Propos
---
<section class="container mx-auto my-20">
    <div class="flex flex-col sm:flex-row flex-wrap justify-center items-center gap-20">
        <img src="/assets\img\portrait.png" width="30%" alt="">
    
        <div class="w-1/3">
            <h2 class="mb-2">
                Bonjour,
            </h2>
            <h3 class="mb-12">
                Je m’appelle Hillel, passionné de graphisme et de créations 3D, à Marseille.
            </h3>
            <p>
                Diplômé en Design Graphique, Je conçois et met en place des sites internet. J’accompagne également les professionnels dans la conception de leur identité visuelle afin de leur permettre de mettre en avant leur activité.
    
                Il est aujourd'hui difficile de se démarquer, nous sommes inondés chaque jour d’informations diverses. C’est pour cela que j'apprécie combiner des éléments simples qui forment des concepts impactants. Afin d'être le plus pertinent pour votre audience. C’est grâce à ces idées unique qu’il est aujourd’hui possible de trouver votre voix dans un marché bruyant.
    
                Un projet, des questions ? je vous invite à me contacter par mail : <span><a>contact@hillel-khiat.com</a> </span> 
            </p>
        </div>
    </div>
</section>

<section class="max-w-6xl m-0-auto">
    <div class="bg-gray-100 p-12 rounded ">
        <div>
            <p>Pour votre projet</p>
            <h2 class="text-3xl">Je peux vous aider à..</h2>
        </div>
        <div class="flex flex-wrap justify-between flex-col gap-4 sm:flex-row">
            <div class="p-4 py-6 my-4 bg-white rounded shadow flex-1 border-2 border-portfolio-vert">
                <img src="/images/etoiles.svg" class="w-20 pb-4" alt="etoiles sticker">
                <p class="rufina text-xl font-bold mb-2">Créez votre logo</p>
                <p>Pour lancer votre nouveau projet, ou le demarrer avec une identité qui vous convient</p>
            </div>
            <div class="p-4 py-6 my-4 bg-white rounded shadow flex-1 border-2 border-portfolio-vert">
                <img src="/images/site.svg" class="w-20 pb-4" alt="site en sticker">
                <p class="rufina text-xl font-bold mb-2">Concevoir votre site</p>
                <p>Je vous accompagne de la création de maquette jusqu'a la mise en ligne de votre site</p>
            </div>
            <div class="p-4 py-6 my-4 bg-white rounded shadow flex-1 border-2 border-portfolio-vert">
                <img src="/images/plume.svg" class="w-20 pb-4" alt="plume en sticker">
                <p class="rufina text-xl font-bold mb-2">Rafraîchir votre marque</p>
                <p>Besoin d'aligner votre communication avec de nouveaux objectifs ?</p>
            </div>
        </div>
    </div>
</section>


<section class="container max-w-6xl m-0-auto">
    <div class="mt-14 bg-portfolio-vert p-12 sm:rounded text-white">
        <div>
            <p>La où la magie opère</p>
            <h2 class="text-3xl">Processus de création</h2>
        </div>

        <div class="flex">

            <div class="flex flex-wrap justify-between flex-col  sm:flex-row w-full sm:w-3/5  ">

                <div class="p-4 py-6 my-4 w-auto rounded">

                    <div class="flex gap-4 items-end mb-7">
                        <div>
                            <p class="text-6xl font-bold mb-4" style="line-height: 3rem;">1</p>
                        </div>

                        <div>
                            <p class="rufina text-3xl font-bold">Échanges</p>
                            <p class="rufina text-lg font-bold">Definir une cible</p>
                        </div>
                        
                    </div>
                    
                    <p class="font-light">
                        Après avoir pris contact, nous discutons de votre projet pour en définir les limites 
                        et les objectifs. Cette étape permet de me guider afin d'aligner vos attentes à la future réalisation.
                    </p>
                </div>

                <div class="p-4 py-6 my-4 rounded">

                    <div class="flex gap-4 items-end mb-7">
                        <div>
                            <p class="text-6xl font-bold" style="line-height: 5rem;">2</p>
                        </div>

                        <div>
                            <p class="rufina text-3xl font-bold">Création</p>
                            <p class="rufina text-lg font-bold">Recherches et conception</p>
                        </div>
                        
                    </div>
                    
                    <p class="font-light">
                        J’effectue une recherche des des projets similaires ou pertinents.En connaissances 
                        de ces éléments, je vous proposerai des esquisses d'idées qui permettent de valider 
                        la direction du projet, avant un rendu final.
                    </p>
                </div>

                <div class="p-4 py-6 my-4 rounded" >

                    <div class="flex gap-4 items-end mb-7">
                        <div>
                            <p class="text-7xl font-bold" style="line-height: 5rem;">3</p>
                        </div>

                        <div>
                            <p class="rufina text-3xl font-bold">Présentation</p>
                            <p class="rufina text-lg font-bold">Retour et modification</p>
                        </div>
                        
                    </div>
                    
                    <p class="font-light">
                        Après la présentation de rendus finaux et les retours effectué.
                        La production vous est délivrée dans différents formats selon le contrat établi.
                    </p>
                </div>

            </div>
            <div class=" hidden sm:block">
                <img src="/assets\img\processusIllustration.svg" class="w-9/12 ml-auto" alt="">
            </div>

        </div>
            
        
    </div>
</section>