---
layout: default
title: Blog
pagination:
    data: collections.pagedPosts
    size: 1
    alias: paged
---
<section class="max-w-6xl w-11/12  mx-auto mb-11">
    <p class="mb-3 mt-11">Tutoriels, Avis & plus </p>
    <h1 class="mb-12 text-portfolio-vert"> Le Blog </h1>

    <div class="flex flex-wrap -mx-2">
        {% include "partials/post-grid.njk" %}
    </div>
    
</section>

{% if collections.posts.length > site.paginate %}
{% include "partials/paginator.njk" %}
{% endif %}