---
layout: default
title: Creation Site Marseille
description: Hillel K. est un graphiste spécialisé dans le digital et la 3D à Marseille
---

<section class="splitWrapper flex-col sm:flex-row gap-5" id="heroSection">
  <div class="w-11/12 mx-auto sm:w-1/2 mt-6 ">
    <p>Depuis Marseille</p>
    <div class="dividerSmall"></div>
    <h1 class="text-portfolio-vert">Lancer graphiquement votre entreprise</h1>
    <p>1 Logo, 1 Site Vitrine, 1 Support</p>
  </div>

  <img class="w-11/12 sm:w-1/2 mx-auto" src="/assets/img/heroImage.png" alt="" />
</section>

<section id="pitchSection">
  <div class="container">
    <h2 class="text-center max-w-2xl mx-auto mt-10 mb-8">
      Tout les besoins d'une entreprise pour démarrer graphiquement inclus
      dans une offre.
    </h2>
    <p class="mb-4 max-w-2xl mx-auto">
      Pour lancer une marque avec succès aujourd'hui, il est important de disposer d'une présence polyvalente, en ligne
      et en physique, sur différents supports. Cependant, cette tâche peut s'avérer plus complexe que prévu, surtout
      pour les personnes qui ne sont pas familiarisées avec le graphisme. A cela s'ajoute la gestion de l'entreprise 
      qui peuvent rendre la tâche encore plus difficile.
    </p>


    <p class="mb-4 max-w-2xl mx-auto">
      Deleguer ces responsabilité devrait etre simple et pourtant ! Community Manager, Marketeur, webdesigner.. Le
      secteur de la communication regorge de metier spécialisé.
    </p>
    <p class="mb-4 max-w-2xl mx-auto">
      C'est pour répondre à ce besoin, que je propose une offre claire et efficace pour les propriétaires de petites entreprises,
      leur permettant d'obtenir les avantages d'une communication efficace de grande entreprise pour faire face à une concurrence toujours plus
      rude.
    </p>
    <p class="mb-4 max-w-2xl mx-auto">
      L'offre est simple puisqu'elle se base sur 3 Elements. 1X identié Visuelle
      1X Site Internet 1X Support. C'est l'essentiel. <br>
      Le choix des elements est detaillé dans la section ci-dessous.
    </p>

    <button
      class="mx-auto block mt-16 bg-portfolio-vertLg border border-portfolio-vert rounded-md py-2 px-3 animate-pulse text-center">
      <a href="#calendly">Prendre Rendez-vous</a>
    </button>
  </div>

  <section id="offerSection">
    <div class="text-center mb-14">
      <h2>L'offre complète en details</h2>
      <p>1 Site, 1 Logo, 1 Support</p>
    </div>

    <div class="max-w-4xl mx-auto">
      <div class="mb-16 mx-5 flex flex-col sm:flex-row gap-7 items-center">
        <div>
          <h3 class="text-3xl mb-0">1X Logo</h3>
          <span class="mb-3 block">Votre univers</span>

          <p>
            Débutons votre création par le logo. C'est le sigle qui va être
            apposé sur toutes vos productions en ligne et hors ligne. Il est
            crucial dans la communication. Il doit apparaitre pour que les gens
            vous associaient à. Il est plus qu'un symbole dans la tete de vos
            clients, il associe leur expérience de consommation chez vous. Il
            faut donc qu'il reflète l'image que vous souhaitiez mettre en avant.
          </p>
        </div>
        <img src="/assets/img/placeholderSite.jpg" alt="" srcset="" />
      </div>

      <div class="mb-16 mx-5 flex gap-7 flex-col sm:flex-row-reverse items-center">
        <div>
          <h3 class="text-3xl">1X Site Internet</h3>
          <span class="mb-3">Votre presence est requise</span>

          <p>
            XX% de vos futurs clients vous recherche avant de se rendre sur
            place. C'est la fondation de votre présence en ligne. Pour passer
            outre les modifications d'algorithmes des réseaux sociaux, conservez
            une personnalisation totale de votre espace de présentation. Le site
            web est l'outil idéal. Il survit à toutes les tendances et s'affute
            avec le temps. Flexible, il peut prendre des rendez-vous ou se faire
            votre commercial 24H/24H.
          </p>
        </div>
        <img src="/assets/img/placeholderSite.jpg" alt="" srcset="" />
      </div>

      <div class="mb-16 mx-5 flex flex-col sm:flex-row gap-7 items-center">
        <div>
          <h3 class="text-3xl">1X Support</h3>
          <span class="mb-3">Votre presence est requise</span>

          <p>
            En accord avec les éléments précédents, votre support est different
            selon votre activité. Un menu ou une brochure, elle est un element
            de votre communication sur lequel vos futurs clients interagisse. Il
            se doit d'être donc dans l'esprit du reste de votre marque.
          </p>
        </div>
        <img src="/assets/img/placeholderSite.jpg" alt="" srcset="" />
      </div>
    </div>
  </section>
</section>

<section class="max-w-4xl mx-auto">
  <p>Nos garanties</p>
  <div class="flex items-center gap-6 my-10">

    <div class="flex flex-col items-center text-center">
      <img src="/assets/img/placeholderIcon.png" alt="" srcset="" />
      <h3 class="mt-4">Une création sur-mesure</h3>
      <p>
        Comme votre entreprise, chaque création est unique. Il n'est pas
        questions d'utiliser des templates (site pré-fabriqué).
      </p>
    </div>

    <div class="flex flex-col items-center text-center">
      <img src="/assets/img/placeholderIcon.png" alt="" srcset="" />
      <h3 class="mt-4">Une personne par projet</h3>
      <p>
        Une personne est dedié a votre projet et reste le meme interlocuteur
        tout au long de votre projet
      </p>
    </div>

    <div class="flex flex-col items-center text-center">
      <img src="/assets/img/placeholderIcon.png" alt="" srcset="" />
      <h3 class="mt-4">Pas de supplement caché</h3>
      <p>
        Aucun frais caché, tout vous est communiqué de l'hebergement jusqu'au
        droit sur les visuels
      </p>
    </div>
  </div>
</section>

<section id="Avis">
  <div>
    <p>Avis</p>
    <h2>Ils nous ont fait confiance</h2>
    <img src="/assets/img/stars.svg" width="10rem" alt="" />
  </div>

  <img src="/assets/img/avis.jpg" alt="" />
</section>

<section class="mb-24">
  <div>
    <div class="text-center mt-14 mb-8">
      <h2 class="font-bold">Exemples de réalisations</h2>
      <p class="font-light">Rejoingnez les</p>
    </div>

    <div class="main-carousel"
      data-flickity='{ "cellAlign": "left", "wrapAround" : "true", "selectedAttraction" : "0.01", "friction" : "0.15" }'>
      <div class="carousel-cell">
        <img src="/assets/img/placeholderPack.jpg" alt="" />
        <div class="flex justify-between max-w-xl mx-auto">
          <p>Projets</p>
          <p>2022</p>
        </div>
      </div>

      <div class="carousel-cell">
        <img src="/assets/img/placeholderPack.jpg" alt="" />

        <div class="flex justify-between max-w-xl mx-auto">
          <p>Projets</p>
          <p>2023</p>
        </div>
      </div>

      <div class="carousel-cell">
        <img src="/assets/img/placeholderPack.jpg" alt="" />

        <div class="carousel-cell">
          <img src="assets/img/placeholderPack.jpg" alt="" />

          <div class="flex justify-between max-w-xl mx-auto">
            <p>Projets</p>
            <p>2024</p>
          </div>
        </div>
      </div>

      <div class="carousel-cell">
        <img src="assets/img/placeholderPack.jpg" alt="" />
      </div>
    </div>
  </div>
</section>

<section id="calendly">
  <div
    class="flex flex-col sm:flex-row items-center max-w-3xl mx-auto bg-portfolio-vertLg rounded-lg border-portfolio-vert border mb-10">
    <div class="w-1/3 mx-auto block">
      <div class="text-center mb-4">
        <span>Passer à l'étape suivante</span>
        <h2>Discutons de votre projet</h2>
      </div>

      <p class="mb-2 font-bold">
        Faites le premier pas vers une entreprise plus attirante pour vos
        clients
      </p>

      <p>
        Le premier rendez-vous téléphonique dure en moyenne 30 min, il permet de
        mieux cerner vos attentes. Cela permet egalement de repondre a toutes
        vos questions ou inquietude sur le sujet.
      </p>

      <img class="mt-12" src="/assets/img/progressBarCalendly.svg" alt="">

      <lottie></lottie>
    </div>

    <div class="calendlyInline p-5">
      <div class="calendly-inline-widget border-8 p-2 sm:w-full bg-white"
        data-url="https://calendly.com/hillelk/rendez-vous-telephonique?hide_event_type_details=1&hide_gdpr_banner=1"
        style="min-width: 45%; height: 38rem"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    </div>

  </div>
</section>

<a id="bouttonCall" href="#calendly"> Prendre un RDV</a>

<style>
  .splitWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .split {
    width: 49%;
    display: inline-block;
  }

  #bouttonCall {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 1rem 1rem 0;
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    background-color: #4f6b49;
    border-radius: 15px;
    color: white;
  }

  #buttonCall::after {
    content: url(./assets/img/phone.svg);
    width: 50px;
    height: 50px;
  }

  #heroSection {
    max-width: 56rem;
    margin: 0 auto 14rem auto;
  }

  .dividerSmall {
    width: 4rem;
    margin: 0.5rem 0;
    height: 2px;
    background-color: #4f6b49;
  }

  #pitchSection {
    background: linear-gradient(180deg, #2d352b 0%, #4f6b49 100%);
    position: relative;
    padding: 1rem 0;
  }

  #pitchSection .container {
    position: relative;
    top: -100px;
    max-width: 56rem;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #4f6b49;
    padding: 2rem 3rem;
    border-radius: 10px;
  }

  #offerSection {
    color: white;
  }

  #avis {
    background: linear-gradient(100.55deg, #4f6b49 -1.74%, #1f3d18 89.54%);
    color: white;
    padding: 2rem 0;
  }

  .carousel-cell {
    width: auto;
    height: fit-content;
    margin-right: 3rem;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.3.0/flickity.pkgd.min.js"></script>