---
layout: default
title: Acceuil Portfolio
description: Hillel K. est un graphiste spécialisé dans le digital et la 3D à Marseille
keywords: graphiste, portfolio, marseille, 3D, site vitrine
---

<!--<section id="preload">
  <img
    src="/assets/img/logoBlanc.svg"
    alt=""
    srcset=""
    width="9%"
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
  />
</section>
<section id="preload2"></section>-->

<section id="hero">
  <div class="flex h-screen flex-col items-center">
    <div id="lottieHero">
      <lottie-player src="/assets/img/traceHero.json" background="transparent" speed=".8"
        style="width: 100vw; height: 100vh" loop autoplay></lottie-player>
    </div>

    <div class="w-full h-5/6 flex items-center justify-center flex-col">
      <p class="border border-portfolio-vert text-portfolio-vert rounded-full py-1 px-2 mb-10 text-xs">
        2023
      </p>
      <h1 class="text-portfolio-vert pt-6 ml-12 sm:ml-40 textIntro RL">Création</h1>
      <span class="text-portfolio-vert mr-32 sm:mr-72 textIntro LR">Visuelle</span>
      <span class="text-portfolio-vert textIntro ml-10 sm:ml-0 RL2">Digitale</span>

      <div id="heroVideo">
        <video autoplay loop muted playsinline preload="auto" id="teteVideo">
          <source src="/assets/img/MacBookPro.mov" type=video/quicktime; codecs="hevc">
          <source src="/assets/img/MacBookPro.webm" type="video/webm">
        </video>
      </div>
    </div>

    <div>
      <p class="text-xs">
        Création de
        <span class="text-portfolio-vert font-medium" id="scrambleText"></span>
        depuis Marseille
      </p>
    </div>
  </div>
</section>

<section class="max-w-6xl m-0-auto ">
  <div class=" p-12">
    <div class="text-center mb-5 triggerSection">
      <p>Pour votre projet</p>
      <h2 class="text-3xl">Je peux vous aider à..</h2>
    </div>
    <div class="flex flex-wrap justify-center flex-col text-center gap-4 sm:flex-row triggerSection">
      <div class="p-4 py-12 my-4 bg-white rounded shadow-lg flex-1 border border-portfolio-vert">
        <img src="/assets/img/iconSparkles.svg" class="w-20 pb-4 m-0-auto" alt="etoiles sticker">
        <p class="rufina text-xl font-bold">Créez votre logo</p>
        <p class="font-medium mb-5 ">Pour lancer votre nouveau projet</p>
        <p>Un logo est essentiel pour une entreprise car il représente son l'identité visuelle.
          Il permet de se démarquer de la concurrence et de faciliter la reconnaissance de la marque
          par les clients.</p>
      </div>
      <div class="p-4 py-12 my-4 bg-white rounded shadow-lg flex-1 border border-portfolio-vert triggerSection">
        <img src="/assets/img/iconWeb.svg" class="w-20 pb-4 m-0-auto" alt="site en sticker">
        <p class="rufina text-xl font-bold">Concevoir votre site</p>
        <p class="font-medium mb-5"> Votre commercial 24/7</p>
        <p>Un site internet est un outil de communication incontournable pour une entreprise. Il permet de présenter ses
          produits ou services,
          d'échanger avec sa clientèle et de développer sa visibilité sur internet.</p>
      </div>
      <div class="p-4 py-12 my-4 bg-white rounded shadow-lg flex-1 border border-portfolio-vert hover:-translate-x-1 triggerSection">
        <img src="/assets/img/iconVoid.svg" class="w-20 pb-4 m-0-auto" alt="plume en sticker">
        <p class="rufina text-xl font-bold">Rafraîchir votre marque</p>
        <p class="font-medium mb-5">Ajuster votre communication</p>
        <p>Une refonte d'identité visuelle permet de moderniser l'image de l'entreprise et de se démarquer de la
          concurrence. Elle peut également être utilisée
          pour adapter l'identité de l'entreprise à de nouveaux objectifs ou cibles de marché.</p>
      </div>
    </div>
  </div>

  <div id="videoAmpoule">
    <img src="assets/img/Ampoule.png" alt="" class="w-40 sm:w-60" />
  </div>
</section>

<div class="marquee">
  <div class="marqueeone">Logo - Catalogue - Web Design</div>
  <div class="marqueetwo">Graphisme - 3D - Catalogue - Web Design</div>
  <div class="marqueethree">Créations graphiques depuis Marseille</div>
  <div class="marqueefour">Graphisme & design</div>
</div>

<section id="selectionProjets">
  <div>
    <div class="triggerSection flex mx-auto max-w-6xl align-middle items-center justify-center relative">
      <img src="assets/img/yeux.svg" alt="" class="absolute right-0 top-6 overflow-hidden z-10 w-10 md:w-20" />

      <div class="main-gallery w-full my-3"
        data-flickity='{"contain" : "true", "wrapAround": "true", "pageDots": "false" }'>
        <div class="gallery-cell">
          <div class="flex w-full h-full bg-cover bg-center justify-center items-center bg-blend-multiply" style="
              background-image: url(/projets/img/airking/coverAirking.jpg);
              background-color: rgb(0 0 0 / 19%);
              border-radius: 10px;
            ">
            <a href="/airking">
              <div class="text-white">
                <p class="italic text-center mb-3 text-3xl">2022</p>
                <h2 class="md:text-8xl text-5xl">Airking</h2>
              </div>
            </a>
          </div>

          <div class="flex w-full h-full bg-cover bg-center justify-center items-center bg-blend-multiply" style="
              background-image: url(projets/img/ophtaline/coverOphtaline.jpg);
              background-color: rgb(0 0 0 / 19%);
              border-radius: 10px;
            ">
            <a href="/ophtaline">
              <div class="text-white">
                <p class="italic text-center mb-3 text-3xl">2019</p>
                <h2 class="md:text-8xl text-5xl">Ophtaline</h2>
              </div>
            </a>
          </div>

          <div class="flex w-full h-full bg-cover bg-center justify-center items-center bg-blend-multiply" style="
              background-image: url(projets/img/tourCampanet/coverTourCampanet.jpg);
              background-color: rgb(0 0 0 / 19%);
              border-radius: 10px;
            ">
            <a href="/tour-campanet">
              <div class="text-white">
                <p class="italic text-center mb-3 text-3xl">2021</p>
                <h2 class="md:text-8xl text-4xl">Tour Campanet</h2>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="max-w-5xl w-4/5 mx-auto " id="catProjet">
  <div class="w-0-auto my-12 flex justify-center triggerSection">
    <h2>Découvrez les projets par catégorie</h2>
  </div>

  <div class="grilleService">

    <div class="serviceDiv1 serviceCell rounded-sm triggerSection">
      <a href="/tags/Identité%20Visuelle/">
        <p class="servicePill">Identité Visuelle</p>
        <img src="/projets\img\avocat\Logo Avocat.svg" class="m-12 mb-8" style="margin-bottom: 1.5rem!important;"
          alt="">
      </a>
    </div>

    <div class="serviceDiv2 serviceCell transition-colors rounded-sm triggerSection">
      <a href="/tags/3D/">
        <p class="servicePill">3D</p>
        <img src="assets/img/3DService.png" class="mx-6 m-0-auto" alt="création site web" />
      </a>
    </div>

    <div class="serviceDiv3 serviceCell transition-colors triggerSection">
      <a href="/tags/Packaging/">
        <p class="servicePill">Packaging</p>
        <img src="assets/img/packagingService.png" class="mx-6 m-0-auto" alt="création site web" />
      </a>
    </div>

    <div class="serviceDiv4 serviceCell transition-colors triggerSection">
      <a href="/tags/print/">
        <p class="servicePill">Catalogue</p>
        <img src="assets/img/catalogueService.png" class="mx-6 m-0-auto" alt="création site web" />
      </a>
    </div>

    <div class="serviceDiv5 serviceCell transition-colors triggerSection">
      <a href="/tags/Site%20Internet/">
        <p class="servicePill">Site Internet</p>
        <img src="assets/img/siteWebService.jpg" class="mx-6 m-0-auto" alt="création site web" />
      </a>
    </div>


  </div>

</section>

<section id="avis max-w-xl">
  <div class="max-w-3xl mx-auto triggerSection">
    <div class="avisWrapper max-w-xl text-center relative">
      <img src="/assets/img/siteArchitecte.jpg" alt="" srcset="" width="50%" class="imgAvis shadow-md rounded-md" />
      <p class="mb-2 mt-10">
        Excellente expérience ! Hillel a su répondre à mes demandes de façon
        efficaces et très professionnelle. Il m'a proposé divers éléments pour
        améliorer mon site. C'était très agréable d'échanger avec Hillel. Je ne
        peux que le recommander !
      </p>
      <span class="italic font-semibold">Thibaut Picard Architecte</span>
      <img src="/assets/img/avis.svg" alt="" srcset="" class="mx-auto" width="15%" />
    </div>

    <div class=" triggerSection avisWrapper max-w-xl text-center relative ml-auto">
      <img src="/assets/img/siteThe.jpg" alt="" srcset="" width="50%" class="imgAvis shadow-md rounded-md" />
      <p class="mb-2 mt-10">
        Je suis absolument ravi de la prestation que j'ai reçue de la part de
        Hillel. Il a su répondre à toutes mes questions avec rapidité et
        efficacité. Je n'hésiterai pas à le solliciter à nouveau pour de futurs
        projets
      </p>
      <span class="italic font-semibold">Dan M.</span>
      <span>Evershape</span>
      <img src="/assets/img/avis.svg" alt="" srcset="" class="mx-auto" width="15%" />
    </div>
  </div>
</section>

<section id="labCTA" class="triggerSection relative bg-portfolio-vertLg w-11/12 sm:w-4/5 max-w-6xl mx-auto border-portfolio-vert border flex flex-col items-center justify-center rounded-lg my-44 py-20 
  text-center text-portfolio-vert" style="background: url(../assets/img/dotPattern.png) center 12rem, #e2eae1;">
  <a href="/lab">
    <img src="assets/img/StickerCollage01.svg" alt="" srcset="" width="85rem" class="absolute -left-7 -top-4" />
    <p class="mb-2">Expériences HTML & 3D</p>
    <h2>Le Laboratoire</h2>

    <img src="assets/img/stickerCollageYesNo.svg" alt="" srcset="" width="80rem" class="absolute -right-7" />

    <img src="assets/img/stickerCollage02.svg" alt="" srcset="" width="120rem" class="absolute right-8 -top-10" />
  </a>
</section>

<section class="w-11/12 sm:w-4/5 mx-auto my-12" id="faq">
  <div class="row">
    <div class="col">
      <div class="flex flex-col sm:flex-row items-start sm:items-center justify-between mb-12">
        <div triggerSection>
          <h2 class="text-portfolio-vert">F.A.Q. (Foire aux questions)</h2>
          <p>Des réponses à vos questions</p>
        </div>

        <img src="assets/img/yeux.svg" alt="" class="w-20 self-end" />
      </div>

      <button class="accordion triggerSection">Quels services proposez vous ?</button>
      <div class="panel">
        <div class="my-12">
          <p>
            En tant que graphiste spécialisé dans le digital, je suis à votre
            disposition pour répondre à tous vos besoins graphiques. Je vous
            accompagne tout au long du processus de création de votre marque, en
            commençant par la conception de votre logo et de votre identité
            visuelle, jusqu'à la mise en ligne de votre site vitrine. N'ayez pas
            peur de ne pas être un expert en technologie, je suis là pour vous
            enseigner les éléments clés des outils numériques et les principes
            de communication en ligne.
          </p>
        </div>
      </div>

      <button class="accordion triggerSection">Combien coute un site internet ?</button>
      <div class="panel">
        <div class="my-12">
          <p>
            Il est difficile de donner un prix moyen pour la création d'un site
            web, car cela dépend de la complexité et des fonctionnalités
            demandées. En général, une landing page (page unique) comprenant
            quelques sections pour présenter votre entreprise et permettre aux
            visiteurs de prendre contact est facturée en moyenne 1500 €. Cela
            peut varier selon les besoins spécifiques de chaque client. Si vous
            souhaitez un site vitrine plus complet avec plusieurs pages et
            services, le coût sera évidemment supérieur.
          </p>
        </div>
      </div>

      <button class="accordion triggerSection">
        Est-il possible d'estimer la durée de réalisation ?
      </button>
      <div class="panel">
        <div class="my-12">
          <p>
            Comme pour le tarif, la durée d'un projet dépend de son ampleur et
            des échanges que nous aurons tout au long du processus. En moyenne,
            il faut compter moins d'un mois pour produire une landing page de
            qualité. Cela peut varier selon les besoins et exigences de chaque
            projet."
          </p>
        </div>
      </div>

      <button class="accordion triggerSection">
        Est-ce que vous proposer des services de maintenance et de mise à jour
        de site web ?
      </button>
      <div class="panel">
        <div class="my-12">
          <p>
            Selon le mode de création choisi, la maintenance de votre site peut
            être assurée par le service d'hébergement de votre site. Nous
            utilisons fréquemment le service Webflow, qui offre une maintenance
            de qualité avec un taux de disponibilité de 99,99% pour votre site.
            Vous pouvez donc être assuré que votre site restera en ligne sans
            problème.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contactSection ">
  <div
    class=" triggerSection contactWrap flex flex-col sm:flex-row justify-between w-11/12 sm:w-4/5 items-center sm:items-start bg-portfolio-vertLg border-portfolio-vert border p-4 py-8 sm:p-12 rounded-xl max-w-6xl">
    <div class="text-portfolio-vert w-full sm:w-5/12 mb-10 sm:mb-0">
      <img src="assets/img/iconMail.svg" width="32rem" alt="" />

      <h2 class="mt-2">Contact</h2>
      <div class="divider mt-1 mb-6 bg-portfolio-vert"></div>
      <h3>Vous avez un projet de design en tête ?</h3>

      <p>
        Lors de cet entretien téléphonique, nous discuterons de votre projet
        graphique. À la suite de ce dernier, je reviendrai vers vous avec une
        proposition de projet sur-mesure ainsi que les prochaines étapes à
        suivre pour le meilleur développement de votre projet.
      </p>

      <p class="mt-4"><em>Je suis joignable également en mail</em></p>
      <a class="underline" href="mailto:contact@hillel-khiat.com">contact@hillel-khiat.com</a>
    </div>

    <div>
      <div>
        <!-- Début de widget en ligne Calendly -->
        <div class="calendly-inline-widget border-8 p-2 sm:w-full bg-white"
          data-url="https://calendly.com/hillelk/rendez-vous-telephonique?hide_event_type_details=1&hide_gdpr_banner=1"
          style="min-width: 45%; height: 38rem"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        <!-- Fin de widget en ligne Calendly -->
      </div>
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.3.0/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script>
  //Caroussel FLickity

  var flkty = new Flickity(".gallery-cell", {
    percentPosition: false,
  });
</script>

<script>
  class TextScramble {
    constructor(el) {
      this.el = el;
      this.chars = "!<>-_\\/[]{}—=+*^?#________";
      this.update = this.update.bind(this);
    }
    setText(newText) {
      const oldText = this.el.innerText;
      const length = Math.max(oldText.length, newText.length);
      const promise = new Promise((resolve) => (this.resolve = resolve));
      this.queue = [];
      for (let i = 0; i < length; i++) {
        const from = oldText[i] || "";
        const to = newText[i] || "";
        const start = Math.floor(Math.random() * 40);
        const end = start + Math.floor(Math.random() * 40);
        this.queue.push({ from, to, start, end });
      }
      cancelAnimationFrame(this.frameRequest);
      this.frame = 0;
      this.update();
      return promise;
    }
    update() {
      let output = "";
      let complete = 0;
      for (let i = 0, n = this.queue.length; i < n; i++) {
        let { from, to, start, end, char } = this.queue[i];
        if (this.frame >= end) {
          complete++;
          output += to;
        } else if (this.frame >= start) {
          if (!char || Math.random() < 0.28) {
            char = this.randomChar();
            this.queue[i].char = char;
          }
          output += `<span class="dud">${char}</span>`;
        } else {
          output += from;
        }
      }
      this.el.innerHTML = output;
      if (complete === this.queue.length) {
        this.resolve();
      } else {
        this.frameRequest = requestAnimationFrame(this.update);
        this.frame++;
      }
    }
    randomChar() {
      return this.chars[Math.floor(Math.random() * this.chars.length)];
    }
  }

  const phrases = ["Site Internet", "Identité Visuelle", "Visuels 3D", "Logos"];

  const el = document.querySelector("#scrambleText");
  const fx = new TextScramble(el);

  let counter = 0;
  const next = () => {
    fx.setText(phrases[counter]).then(() => {
      setTimeout(next, 1200);
    });
    counter = (counter + 1) % phrases.length;
  };

  next();
</script>