---
layout: default
permalink: "{% if paged.number > 1 %}page/{{ paged.number }}/{% endif %}index.html"
---
<div class="flex flex-col items-center sm:flex-row justify-between gap-12">
    <div id="heroVideo">
        <video autoplay loop muted playsinline type="video/webm">  
            <source src="/src/assets/img/statue.webm" 
            type="video/webm"></video>
    </div>

    <div class="w-1/3 flex absolute items-center justify-center flex-col">
        <p class="border border-portfolio-vert text-portfolio-vert rounded-full py-1 px-2 text-xs">2022</p>
        <h1 class="text-portfolio-vert ml-10">Création</h1>
        <h1 class="text-portfolio-vert mr-36">Visuelle</h1>
        <h1 class="text-portfolio-vert">Digitale</h1>
    </div>

 
</div>


<section class="container flex">
    <div class="w-1/4 inline-block">
    <p> Titre</p>
    </div>
    
    <div class="bg-gray-100 w-3/4 inline-block p-10">
        <div>
            <h3>Test</h3>
            <p>lorem ipsum</p>
        </div>
    </div>
<section>

<section> 
    <div class="main-gallery" data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true }'>
        <div class="gallery-cell">
            <img src="/src/assets/img/favicon.png" alt="">
            1
        </div>
        <div class="gallery-cell">
            <img src="/src/assets/img/favicon.png" alt="">
            2
        </div>
        <div class="gallery-cell">
            <img src="/src/assets/img/favicon.png" alt="">
            3
        </div>
    </div>
</section>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.18.0/matter.min.js" integrity="sha512-5T245ZTH0m0RfONiFm2NF0zcYcmAuNzcGyPSQ18j8Bs5Pbfhp5HP1hosrR8XRt5M3kSRqzjNMYpm2+it/AUX/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
