---
layout: default
title: Portfolio 2022

---

<section id="intro">



</section>

<section id="hero">
    <div class="flex h-screen flex-col items-center">

            <div id="lottieHero">
                <lottie-player src="/assets/img/traceHero.json" background="transparent"  speed=".8"  
                style="width: 100vw; height: 100vh;" loop autoplay></lottie-player>
            </div>

            <div class="w-full h-5/6 flex items-center justify-center flex-col ">
                    <p class="border border-portfolio-vert text-portfolio-vert rounded-full py-1 px-2 text-xs">2022</p>
                    <h1 class="text-portfolio-vert pt-6 ml-40 textIntro RL">Création</h1>
                    <h1 class="text-portfolio-vert mr-72 textIntro LR">Visuelle</h1>
                    <h1 class="text-portfolio-vert textIntro RL2">Digitale</h1>

                <div id="heroVideo">
                    <video autoplay loop muted playsinline preload="auto" id="teteVideo">  
                    <source src="/assets/img/MacBookPro.webm" type="video/webm">
                    </video>
                </div>
            </div>

            <div>
                <p class="text-xs">Création de <span>site internet</span> depuis Marseille</p>
            </div>

    </div>
</section>

<section id="facts">
    <div class="inline-block md:w-4/6 w-full rounded-md drop-shadow-sm" >
        <div class="parent">
            <div class="div1">
            <img src="assets/img/iconWeb.svg" class="w-14" alt="">
            <h3 class="my-4">Posséder une présence en ligne n’est plus une option</h3>
            <p>78% des internautes recherchent un lieu avant de s’y rendre, 
                et 81 % des internautes effectuent des achats en ligne. 
                Aujourd’hui, votre présence en ligne est requise.</p>
            </div>
            <div class="div2"> 
            <img src="assets/img/iconVoid.svg" class="w-14" alt="">
            <h3 class="my-4">Faite évoluer votre image de marque</h3>
            <p>Améliorer votre notoriété en ligne, en faisant évoluer votre 
                marque grâce aux leviers de la création graphique. 
                Créer une connexion plus forte entre votre entreprise et vos clients.</p>
            </div>
            <div class="div3"> 
            <img src="assets/img/iconSearch.svg" class="w-14" alt="">
            <h3 class="my-4">Un processus sur-mesure</h3>
            <p>Après avoir défini ensemble des objectifs pour votre projet, 
                je vous proposerai des concepts forts et impactant pour se démarquer de manière 
                créative de la concurrence. Nous pourrons échanger et faire évoluer votre projet, 
                afin de concevoir une solution véritablement sur-mesure.</p>
            </div>
            <div class="div4"> 
            <img src="assets/img/iconSparkles.svg" class="w-14" alt="">
            <h3 class="my-4">Un style unique</h3>
            <p>78% des internautes recherchent un lieu avant de s’y rendre, 
            et 81 % des internautes effectuent des achats en ligne. 
            Aujourd’hui, votre présence en ligne est requise.</p>
            </div>
        </div>
        
    </div>
    <div id="videoAmpoule">
        <img src="assets/img/Ampoule.png" alt="" class="">

    </div>


</section>

<div class="marquee">
    <div class="marqueeone">
        Logo - Catalogue - Web Design

               </div>
    <div class="marqueetwo">
        Graphisme - 3D - Catalogue - Web Design
                
                </div>
         <div class="marqueethree">
        Créations graphiques depuis Marseille
                </div>
         <div class="marqueefour">
         Graphisme - 3D - Logo - Catalogue - Web Design
      </div>
</div>


<section id="selectionProjets">

<div class="w-screen " style="background-color: #E2EAE1;">
<div class="flex m-0-auto max-w-6xl align-middle items-center justify-center relative" style="background-color: #E2EAE1;">
    
    <img src="assets/img/yeux.svg" alt="" class="absolute right-0 top-6 overflow-hidden z-10 w-10 md:w-20">

    <div class="main-gallery w-full" style="background-color: #E2EAE1;"
     data-flickity='{cellAlign: left, contain: true, wrapAround: true }'>

        <div class="gallery-cell">

            <div class="flex w-full h-full bg-cover bg-center justify-center items-center bg-blend-multiply" 
            style="background-image: url(projets/img/airking/coverAirking.jpg);
            background-color:rgb(0 0 0 / 19%)" >
            <a href="/airking">
                <div class="text-white">
                    <p class="italic text-center mb-3 text-3xl">2022</p>
                    <h2 class="md:text-8xl text-5xl">Airking</h2>
                </div>
            </a>
            </div>

            <div class="flex w-full h-full bg-cover bg-center justify-center items-center bg-blend-multiply" 
            style="background-image: url(projets/img/ophtaline/coverOphtaline.jpg);
            background-color:rgb(0 0 0 / 19%)" >
            <a href="/ophtaline">
                <div class="text-white">
                    <p class="italic text-center mb-3 text-3xl">2019</p>
                    <h2 class="md:text-8xl text-5xl">Ophtaline</h2>
                </div>
            </a>
            </div>

            <div class="flex w-full h-full bg-cover bg-center justify-center items-center bg-blend-multiply" 
            style="background-image: url(projets/img/tourCampanet/coverTourCampanet.jpg);
            background-color:rgb(0 0 0 / 19%)" >
            <a href="/tour-campanet">
                <div class="text-white">
                    <p class="italic text-center mb-3 text-3xl">2021</p>
                    <h2 class="md:text-8xl text-4xl">Tour Campanet</h2>
                </div>
            </a>
            </div>
         
    


          </div>
        </div>
    </div>
</div>    

</section>

<div class="marquee">
    <div class="marqueeone">
        Créations graphiques depuis Marseille

               </div>
    <div class="marqueetwo">
        Graphisme - 3D - Identité Visuelle 
                
                </div>
         <div class="marqueethree">
         Logo - Catalogue - Web Design

                </div>
         <div class="marqueefour">
         3D - Identité Visuelle - Motion Design
      </div>
</div>




<section class= "max-w-90 m-0-auto w-7xl">
    <div class="w-0-auto my-12 flex justify-center">
        <h3>Découvrez les projets par catégorie</h3>
    </div>

    <div class="grilleService">

            <div class="serviceDiv1 serviceCell hover:bg-portfolio-vert transition-colors rounded-sm">
                <p class="servicePill">Identité Visuelle</p>
                <img src="/projets\img\avocat\Logo Avocat.svg" class="m-12" alt="">
            </div>

            <div class="serviceDiv2 serviceCell hover:bg-portfolio-vert transition-colors rounded-sm">
                <p class="servicePill">3D</p>
                <img src="assets/img/3DService.png"  class="mx-6 m-0-auto" alt="création site web" />
            </div>

            <div class="serviceDiv3 serviceCell hover:bg-portfolio-vert transition-colors" >
                    <p class="servicePill">Packaging</p>
                    <img src="assets/img/packagingService.png"  class="mx-6 m-0-auto" alt="création site web" />
            </div>

            <div class="serviceDiv4 serviceCell hover:bg-portfolio-vert transition-colors">
                    <p class="servicePill">Catalogue</p>
                    <img src="assets/img/catalogueService.png" class="mx-6 m-0-auto" alt="création site web" />
            </div>

            <div class="serviceDiv5 serviceCell hover:bg-portfolio-vert transition-colors">
                <p class="servicePill">Site Internet</p>
                <img src="assets/img/siteWebService.png" class="mx-6 m-0-auto" alt="création site web" />
            </div>


    </div>

    <div class="my-5 flex flex-row justify-between items-center bg-portfolio-vert p-4 rounded-xl">
        <div class="text-white">
            <p class="mb-2">Une projet, une question ?</p>
            <h3>Besoin d'aide sur un projet ?</h3>
    
            <a href="#"> Contactez-Moi</a>
        </div>

        <div>
            <a href="mailto:contact@hillel-khiat.com">
                <img src="assets/img/iconMail.svg" alt="">
            </a>
        </div>
    </div>

</section>



<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.18.0/matter.min.js" integrity="sha512-5T245ZTH0m0RfONiFm2NF0zcYcmAuNzcGyPSQ18j8Bs5Pbfhp5HP1hosrR8XRt5M3kSRqzjNMYpm2+it/AUX/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
