---
layout: default
title: Projets
pagination:
    data: collections.pagedProjets
    size: 1
    alias: paged
---

<h1> Projets </h1>

<div class="flex flex-wrap -mx-2">
    {% include "partials/projet-grid.njk" %}
</div>

<!--{% if collections.posts.length > site.paginate %}
{% include "partials/paginator.njk" %}
{% endif %} -->