---
layout: default
title: Projets
pagination:
    data: collections.pagedProjets
    size: 1
    alias: paged
---
<section class="max-w-6xl w-11/12 m-0-auto">
    <p class="mb-3 mt-11">Depuis 2019</p>
    <h1 class="mb-12 text-portfolio-vert"> Sélection de Projets </h1>

    <div class="flex flex-wrap -mx-2">
        {% include "partials/projet-grid.njk" %}
    </div>
</section>


{% if collections.posts.length > site.paginate %}
{% include "partials/paginator.njk" %}
{% endif %}