<div id="cookieBanner">
    <p>En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies pour améliorer votre expérience utilisateur.</p>
    <button id="cookieButton">D'accord</button>
</div>