<section id="contactSection" class="mx-auto">
    <div class="contactWrap flex flex-col sm:flex-row justify-between w-11/12 sm:w-4/5 items-center sm:items-start bg-portfolio-vertLg border-portfolio-vert border p-4 py-8 sm:p-12 rounded-xl max-w-6xl">
        <div class="text-portfolio-vert w-full sm:w-5/12 mb-10 sm:mb-0">

            <img src="assets/img/iconMail.svg" width="32rem" alt="">

            <h2 class="mt-2"> Contact</h2>
            <div class="divider mt-1 mb-6 bg-portfolio-vert"></div>
            <h3>Vous avez un projet de design en tête ? </h3>
    
            <p>Lors de cet entretien téléphonique, nous discuterons de votre projet graphique. À la suite de ce dernier, 
                je reviendrai vers vous avec une proposition de 
                projet sur-mesure ainsi que les prochaines étapes à suivre pour le meilleur développement de votre projet.
            </p>

            <p class="mt-4"><em>Je suis joignable également en mail</em></p>
            <a class="underline" href="mailto:contact@hillel-khiat.com">contact@hillel-khiat.com</a>
        </div>

        <div>

            <div>
                <!-- Début de widget en ligne Calendly -->
                    <div class="calendly-inline-widget border-8 p-2 sm:w-full bg-white" data-url="https://calendly.com/hillelk/rendez-vous-telephonique?hide_event_type_details=1&hide_gdpr_banner=1" style="min-width:45%;height:38rem;"></div>
                    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                <!-- Fin de widget en ligne Calendly -->
            </div>
        </div>
    </div>
</section>