<footer class="mt-20 px-10 py-8 border-t-2 text-sm ">
    <div class="max-w-5xl mx-auto font-light">
        © 2022 <a href="{{ '/' | url }}" target="_blank" rel="noopener">{{ site.title }}</a>
    </div>
</footer>